.todoItem{
  display: flex;
  justify-content: space-between;
  margin: 8px;
  gap: 8px;
  align-items: center;
  background-color: antiquewhite;
}

.content{
  display: flex;
  justify-items: flex-start;
  gap: 8px;
}

.editButton{
  display: flex;
  padding: 8px;
  gap: 8px;
}

.content input[type="text"] {
  width: 300px;
  margin: 0;
}